body {
    background: aquamarine;
}

.content {
    display: flex;
}
.container.fluid {
    max-width: 1140px;
}

.group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #e9e9eb;

    .card {
        margin: 10px;
        width: 300px;
        height: 100px;
        background: snow;
        position: relative;
        overflow: hidden;
        border-radius: 3px;

        .card-remove {
            /* width: 10px;
            height: 10px; */
            margin: 2px;
            padding: 0;
            position: relative;
            float: right;
            background-color: blanchedalmond;
            z-index: 2;
        
            color: rgb(250, 1, 1);
            font-weight: 300;
            font-family: Arial, sans-serif;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .header,
    .footer {
        font-family: "Libre Barcode 128 Text", cursive;
        font-size: 50px;
        margin: 5px 10px;
    }

    .header {
        opacity: 0.5;
    }

    .footer {
        border: 1px;
        border-radius: 2px;
        border-color: burlywood;
    }

    .footer:hover {
        cursor: pointer;
        background-color: goldenrod;
    }

    .card-content {
        position: relative;
        padding: 5px;

        .sub-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.moreActions {
                font-weight: 600;
                font-size: 20px;
                vertical-align: middle;
                text-align: center;
            }

            &.ico {
                max-width: 50px;
                max-height: 50px;
            }
        }

        &.title {
            margin: 0;
            padding: 0;
        }

        &.progress {
            
            border: 0;
            height: 20px;
            border-radius: 2px;
            &::-webkit-progress-bar {
                background-color: lightgreen;
            }
            &::-webkit-progress-value {
                background-color: aqua;
            }
        }
    }
}